.section__dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__form{
    width:33%;
    margin:auto;
    height:80vh;
    border-radius: 7rem;
    box-shadow: 0 1rem 2rem rgba(103, 102, 102, 0.67);
    background: $color-text-grey2;
    position:relative;
    animation: fadeIn 0.3s ease-in 0.3s;
    animation-fill-mode: backwards;

    @media (max-width:1255px){
        width:50%;
       
    }
    @media (max-width:790px){
        width:70%;
       
        & .h2{
            font-size: 2.5rem;
        }
    }
    @media (max-width:560px){
        width:90%;

    }

}
.section__player{
    margin-top:6rem;
    background-color: #807f7f65;
    padding:0 0.75rem;
    box-shadow: 17px 0px 31px -7px rgba(0,0,0,0.36);
}