.section__dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:2rem;
}
.section__form{
    width:33%;
    margin:auto;
    height:80vh;
    border-radius: 7rem;
    box-shadow: 0 1rem 2rem rgba(103, 102, 102, 0.67);
    background: rgba(242, 238, 238, 0.85);
    position:relative;
    top:5rem;
    animation: fadeIn 0.3s ease-in 0.3s;
    animation-fill-mode: backwards;

    @media (max-width:1255px){
        width:50%;
       
    }
    @media (max-width:790px){
        width:70%;
       
        & .h2{
            font-size: 2.5rem;
        }
    }
    @media (max-width:560px){
        width:90%;

    }

}
.section__player{
    position: relative;
    top:6rem;
    padding:1rem 0;
    width: 100%;
    background-color: rgba(13, 13, 82, 0.271);
    box-shadow: 17px 0px 31px -7px rgba(0,0,0,0.36);

    &--footer{
        text-align: center;
        text-wrap: balance;
        position: relative;
        top:6rem;
        @media (max-width:779px) {
            top:10rem;
        }
    }

     @media (max-width:779px){
        top:10rem;
     }
     @media (max-width:615px){
        top:10rem;
     }
     @media (max-width:515px){
        top:10rem;
     }
}
