.section__dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__form{
    display: flex;
    align-items: center;
    justify-content: center;
    width:65%;
    margin:auto;
    height:80vh;
    background-color: red;
}

.section__player{

}