.btn{
    display: block;
    text-transform: capitalize;
    padding:1.5rem;
    border-radius:3rem;
    font-size: 1.5rem;
    width:12rem;
    border:none;
    cursor: pointer;
    animation: moveInBottom 0.7s ease-out 0.7s;
    animation-fill-mode: backwards;
    
    &:active{
        transform: translateY(-1px);
    }
    &--light-blue{
        background-color: $color-turquoise;
        color:$color-white;
        transition:background-color 0.4s, color 0.4s, border 0.2s;
        border: 1px transparent solid;
        &:hover{
            border: 1px $color-turquoise solid;
            color:$color-turquoise;
            background-color: $color-white;
        }
        &:active{
            background-color: $color-green;
            color:#ffffffbc;
            transform: translateY(1px);
        }
    }
}