#idm-player{
    width:60%;
    animation: fadeIn 0.2s ease-in;
 
    @media (max-width:1300px){
       width:77rem;
       height: 43.5rem;
       
    }
    @media (max-width:779px){
        width:60rem;
        height: 34rem;
    }
    @media (max-width:615px){
        width: 50rem;
        height: 26rem;
    }
    @media (max-width:515px){
        width: 37.3rem;
        height: 21.1rem;
    }
}

.btn__container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top:1rem;
    width:100%;
    & button{
        background-color: transparent;
        border: none;
        width:20%;
        transition: all 0.3s ease;
        &:hover{
            background-color:rgba(177, 218, 246, 0.5);
            cursor: pointer;
        } 
            
    }
    & img{
        fill: currentColor;
        width:3rem;  
    }
}

.header{
    text-align: center;
    padding:1rem;
    text-transform: capitalize;
}