//COLORS

$color-primary:#333;
$color-primary-dark:#222;

$color-error:rgba(250, 1, 1, 0.661);
$color-white:#fff;
$color-blue:hsl(208, 97%, 43%);
$color-text-grey:#504e4e;
$color-text-grey2:#ffffff71;
$color-turquoise:rgba(4, 192, 202, 0.767);
$color-green:rgba(10, 177, 113, 0.698);
//FONT
$default-font-size:2rem;