*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  //The above line is to change rem unit to be 10px instead of 16px for comfort.
}
body {
  box-sizing: border-box;
  background-image: url(../../../public/background.svg);
}

.blobs-container{
  background-image: url(../../../public/polygons-blobs2.svg);
  background-size: fill;
  background-repeat:repeat;
  z-index: 1;
  width: 100%;
  opacity: 0.3;
  height: 100%;
  position: absolute;

}
.app-content{
  position:relative;
  z-index: 2;
}
